* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/*section1*/
.navbar{
    background: skyblue!important;
}
.navbar .nav-link{
    color:white!important;
    font-weight: bold;
}
.navbar .nav-link:hover{
    font-weight: normal!important;
}
.icon1,.icon2{
    color: white;
    margin-top: 5%;
}
.slash{
    color: white;
    margin-top: 3%;
    font-weight: bold;
}
/*section2*/
.col2 {
    margin-left: 70%!important;
}
.row2{
    font-weight: bold;
}
/*section3*/
.col3{
    background: skyblue;
    height: 160px;
}
.icon3,.icon4,.icon5{
    margin-top: 10%;
    font-size: 28px;
}
.col3 h4:hover{
    color: black;
}
.icon3{
    color:crimson;
}
.icon4{
    color:darkmagenta;
}
.icon5{
    color:gold;
}
.icon5:hover{
    color:black;
    opacity: 0.6;
}
.icon3:hover{
    color:black;
    opacity: 0.6;
}
.icon4:hover{
    color:black;
    opacity: 0.6;
}

@media (min-width:320px) and (max-width:767px){
    .col3{
        margin-top: 2%;
    }
    .icon3,.icon4,.icon5{
        margin-top: 6%;
    }
    .col2 {
        margin-left: 50%!important;
    }
}
@media (min-width:320px) and (max-width:500px){
    .col2 {
        margin-left: 30%!important;
    }
}
@media (min-width:320px) and (max-width:575px)
{
   ul .icon1{
        margin-top: -37%!important;
    }
    li{
        margin-top: -32%!important;
    }
    .icon2{
        margin-top: -30%!important;
    }
    .li2{
        margin-top: -30%!important;
    }
    li{
        margin-left: 30%!important;
    }
    .icon2{
        margin-left:100%!important;
    }
    .li2{
        margin-left: 130%!important;
    }
   
}