/* first section*/
#first-section{
    border: 1px solid black !important;
    text-align: center;
}
/* second section */
#second-section{
    border: 1px solid black !important;
    
}

#third-section{
    border: 1px solid black !important;
}

#forth-section{
    border: 1px solid black !important;    
}
.forth-inner{
    display: flex;
    justify-content: space-around;
}





