* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/* For Menu */

.navbar {
    background: linear-gradient(#5c82ab, #71bdaf);
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: skyblue !important;
}

form input {
    border: unset;
    margin-top: 10px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}

.login .nav-link:hover {
    background: skyblue !important;
    color: black !important;
}


/* Main Image */

.inner-image {
    position: relative;
    background: url(Images/contactslide.png);
    height: 90vh;
    width: 100%;
    background-attachment: fixed;
    /* background-size: cover; */
    background-position: center center;
    background-repeat: no-repeat;
}


/* 
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* for iframee */

#body {
    background: url(Images/contact.png);
    background-repeat: no-repeat;
}

#inner_body {
    border: 2px solid darkgray;
    margin-bottom: 30px;
}

#map {
    margin-top: 40px;
    margin-bottom: 30px;
}

#infor {
    border: 2px solid darkgray;
    margin-top: 40px;
}

#get {
    margin-top: 40px;
    margin-bottom: 30px;
}

#head {
    margin-left: 20px;
}

#para {
    margin-left: 20px;
}


/* Footer */

.footer {
    background: skyblue;
}

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}

.lower-footer p {
    text-align: center;
}