* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/* For Menu */

.navbar {
    background: linear-gradient(#5c82ab, #71bdaf);
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.dropdown-toggle {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: skyblue !important;
}

form input {
    border: unset;
    margin-top: 10px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}

.login .nav-link:hover {
    background: skyblue !important;
    color: black !important;
}

.profile_dropdown {
    top: 160%;
    left: unset;
    right: -16px;
}

/* For Description */

.main,
.main2 {
    background-color: white;
    margin-top: 20px;
}

.main2 .col-md-6 {
    margin-bottom: 5%;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}


/* Info of courses */

img {
    width: 300px;
    height: 200px;
}

h5 {
    margin-top: 20px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin: auto;
    color: aliceblue;
    background: blue;
    border-radius: 50px;
    width: 150px;
    height: 35px;
}


/* Footer */

.footer {
    background: skyblue;
}

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}

.lower-footer p {
    text-align: center;
}