/*section1*/
.txt1{
    font-weight: normal;
    margin-left: 7%!important;
    margin-top:8%!important;
}
.txt2{
    margin-top:6%!important;
    font-weight: normal;
}
.col2{
    border:2px solid black;
    height: 260px;
    margin-bottom: 6%!important;
    margin-left: 15%!important;

}
.col3{
    border:2px solid black;
    height: 260px;
    margin-bottom: 6%!important;  
     margin-left: 3%!important;

}
.icon1{
    margin-top:8%!important;
    font-size: 35px!important;
}