* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
/* For Menu */

.navbar {
    background: linear-gradient(#5c82ab, #71bdaf);
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: skyblue !important;
}

form input {
    border: unset;
    margin-top: 10px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}

.login .nav-link:hover {
    background: skyblue !important;
    color: black !important;
}

/*ist section*/
.image{
    min-height: 80vh;
    background: url('Images/bulb.jpg');
    background-position: center center;
    background-size: cover;
    background-color: rgba(#71bdaf, #71bdaf, #71bdaf, 0.3);
    background-blend-mode: color;
    color:white;
   
    }
    
    h2{
       margin-top: 15%;
    }
    
       
.btn{
    background-color: skyblue;
}
.btn:hover {
        background: transparent !important;
        color:rgba(70, 60, 60, 0.877);
        border: 2px solid skyblue;
    }

/*2nd section*/

.sec2{
    position: absolute;
    top:60%;
}

/*section3*/
.sec3{
    margin-top:15%;
    background-color: skyblue;
}

    

@media (min-width:200px) and (max-width:570px){
    .sec3{
        margin-top: 300%;
    }
}
/*section4*/
.form1 input{
    border:none!important;
    background: transparent!important;
    border-bottom: 2px solid black!important;
}
.form1 input::placeholder{
    color:black!important;
}
.txt{
    text-decoration: underline solid black;
}
.sec4 .col-md-4{
    background: skyblue;
}

/*footer*/
.footer {
    background: skyblue;
}

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}

.lower-footer p {
    text-align: center;
}
@media (min-width:575px) and (max-width:985px){
    .crdimg1,.crdimg2,.crdimg3,.crdimg4{
        height:100px;
    }
    .col1,.col2,.col3,.col4{
        height:200px;
    }
    .roww{
        margin-top: 15%;
    }
}