* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
}

.navbar .navbar-brand{
    color: rgb(55, 55, 116);
    margin-left: 30px!important;
}

button{
    margin-left: 30px;
    color:blue!important;
    border: 2px solid rgb(89, 89, 155)!important;
}

p{
    margin-top: 30px;
}

/* form */
input{
    position: relative;
}
.radio1{
    position: absolute;
    top:28%;
    left:5%;
    z-index:1;
    }
.radio2{
    position: absolute;
    top:58%;
    left:5%;
    z-index:1;
    }
.radio3{
    position: absolute;
    top:86%;
    left:5%;
    z-index:1;
    }
::placeholder{
    padding-left: 30px !important;
    }