* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
 .navbar .navbar-brand{
  color:black!important;
  }
  /* button{
      color:black!important;
      border: 2px solid black!important;
  } */
  /*Ist section*/
  p{
      text-align: justify;
  }
  h5{
      font-size: bold;
  }
  /*form*/
  .control{
      position: relative;
  }
  .radio1, .radio2, .radio3, .radio4{
   position: absolute;
   top:33%;
   left: 4%;
  }
   input[type="text"]::placeholder{
    padding-left:6%!important;
   }
   
  