* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
 .navbar .navbar-brand{
  color:black!important;
  }
  button{
      color:black!important;
      border: 2px solid black!important;
  }
  /*Ist section*/
  p{
      text-align: justify;
  }
  h5{
      font-size: bold;
  }
  /*form*/
  input{
      position: relative;
  }
  .radio1{
   position: absolute;
   top:22%;
   left:5%;
   z-index:1;
  }
  .radio2{
    position: absolute;
    top:46%;
    left:5%;
    z-index:1;
   }
   .radio3{
    position: absolute;
    top:67%;
    left:5%;
    z-index:1;
   }
   .radio4{
    position: absolute;
    top:89%;
    left:5%;
    z-index:1;
   }
   input[type="text"]::placeholder{
    padding-left:5%!important;
   }
   
  