* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* navbar*/
.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color-burn;
    z-index: 100000;
    width: 100%;
}
form input {
    border: unset;
    margin-top: 10px;
}
input[type="search"]{
    border: 1px solid white;
    border-radius: 40px;
    width: 400px;
}
.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}
/*section1*/
.sec1{
margin-top: 1%;
}
/*section2*/
.row1{
    background: skyblue;
    position: relative;
}
.icon{
    color: black;
}
/*section3*/
.col2{
    background: rgb(212, 202, 202);
}
.col3{
    position: absolute;
    top:38%;
    left: 60%;
}
.btn1{
    background: skyblue;
    color: white;
}
.icon1{
    margin-left: 40%;
}
/*section3*/
.icon2{
font-size:10px!important;
}
/*footer*/
.footer {
    background: skyblue;
}

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}

.lower-footer p {
    text-align: center;
}
.img{
    width:230px;
    height:230px;
    border-radius:50%;
}